<div  b-window-header="热门问题" class="b-header"></div>
<div id="hotProblem" class="pad40">
    <div class="col-xs-12">
        <h4><strong>这里是热门问题的标题</strong></h4>
        <p>这里是内容,这里是内容,这里是内容,这里是内容,这里是内容,这里是内容,这里是内容,这里是内容,这里是内容,</p>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h6 style="color:#23cff4;"><b>是否解决了你的问题:</b></h6>
        </div>
        <div class="col-xs-12">
            <a ng-click="Imok()" style="background-color:#54c733;color:white;" class="btn form-control">解决了</a>
            <p></p>
            <a ng-click="goutofeedSub('feedback/doFeedback.tpl.html','myFeedbackCtrl')" style="background-color:#23cff4;color:white;" class="btn form-control">没有 ,我要反馈</a>
        </div>
    </div>
</div>