<div  b-window-header="关于辅导帮" class="b-header"></div>

<div id="about" class="pad40">
        <ul class="list-group" >
            <li ng-click=""  class="list-group-item list-group-item-text" style="border:1px solid #ebe9e9">
                <b><img src="img/userInfo/01.png"> 帮辅导帮点赞</b>
            </li>
            <li ng-click=""  class="list-group-item list-group-item-text"  style="border:1px solid #ebe9e9">
                <b><img src="img/userInfo/02.png"> 检测更新</b>
            </li>
            <li ng-click="openDialog('setting/system-notice.tpl.html','systemNoticeCtrl');"  class="list-group-item list-group-item-text"  style="border:1px solid #ebe9e9">
                <b><img src="img/userInfo/02.png"> 系统通知</b>
            </li>
            <li ng-click="openDialog('setting/description.tpl.html','descriptionCtrl');"  class="list-group-item list-group-item-text"  style="border:1px solid #ebe9e9">
                <b><img src="img/userInfo/03.png"> 功能介绍</b>
            </li>
            <li ng-click="openDialog('setting/agreement.tpl.html','agreementCtrl');"  class="list-group-item list-group-item-text" style="border:1px solid #ebe9e9">
                <b><img src="img/userInfo/04.png"> 使用协议</b>
            </li>
        </ul>
</div>