<div  b-window-header="系统通知" class="b-header"></div>

<div id="sysetemNotice" class="pad40">
    <ul class="list-group">
        <li ng-click="openDialog('setting/system-update.tpl.html','systemUpdateCtrl');"  class="list-group-item list-group-item-text" style="border:1px solid #ebe9e9">
            <b><img src="img/userInfo/01.png"> 帮辅导1.02更新</b>
        </li>
        <li ng-click="openDialog('setting/system-update.tpl.html','systemUpdateCtrl');"  class="list-group-item list-group-item-text"  style="border:1px solid #ebe9e9">
            <b><img src="img/userInfo/02.png"> 帮辅导1.01更新</b>
        </li>
        <li ng-click="openDialog('setting/system-update.tpl.html','systemUpdateCtrl');"  class="list-group-item list-group-item-text"  style="border:1px solid #ebe9e9">
            <b><img src="img/userInfo/02.png"> 帮辅导使用介绍</b>
        </li>
    </ul>
</div>