<div b-window-header="登 录" class="b-header"></div>
<div class="login">
    <div class="text-center">
        <h1 style="color:#FFF;">
            <img src="img/xh-logo.png" style="height:19.5%;width:63.5%"/>
        </h1>

        <form novalidate name="loginFrm" id="loginFrm">
            <div class="input-group">
                <input type="tel" class="form-control user" id="phoneNum" name="phoneNum" ng-model="phone"
                       placeholder="请输入11位手机号码"
                       required ng-minlength="11" ng-maxlength="11"
                       ng-pattern="/^((\(\d{3}\))|(\d{3}\-))?1[3|4|5|7|8]\d{9}$/" focus-me>
            </div>
            <div class="input-group">
                <input type="password" class="form-control pass" id="password" name="password" ng-model="password"
                       required ng-minlength="6" ng-maxlength="18" placeholder="6-18位密码">
            </div>
            <div class="checkbox" align="center" style="padding:4% 5%">
                <div class="col-xs-5" style="padding:0px"><input type="checkbox" ng-init="checkStatus=true"
                                                                 ng-model="checkStatus"><font
                        color="#1ccbf3">自动登录</font></div>
                <div class="col-xs-7" style="padding:0px">
                    <a ng-click="openWin('forget_pwd_1','html/forget/forget_pwd_1.html')"
                       style="color:#1ccbf3;cursor:pointer">天啊！忘记密码了？</a>
                </div>
            </div>
            <div class="input-group" style="padding:5% 5%">
                <input type="submit" style="background-color:#1ccbf3;color:#fff" ng-click="login()"
                       class="btn btn-lg form-control" ng-disabled="loginFrm.$invalid"
                       style="height:44px; margin-top: 10px;" value="登  录"/>
            </div>
            <div class="row" style="padding:3.5% 5%">
                <button ng-click="openWeChat()" class="btn btn-lg btn-success col-xs-6" style="border-radius:2px;width:45%; padding:5px; margin-right:5%">
                    <img src="img/xxh-wchat.png" width="18px" height="18px"/>微 信 登 录
                </button>
                <button ng-click="openWeChat()" class="btn btn-lg btn-info col-xs-6" style="border-radius:2px;width:45%; padding:5px; margin-left:5%">
                    <img src="img/xxh-QQ.png" width="18px" height="18px"/>Q Q 登 录
                </button>
            </div>
        </form>
    </div>
    <button ng-click="register()" class="navbar-fixed-bottom"
            style="text-align:center;width:100%; height:6.5%;color:#fff;background:rgba(255,255,255,0.1);border:0">立即注册
    </button>
</div>