<div b-window-header="新用户注册" class="b-header"></div>

<div id="regDiv">
    <div class="text-center">
        <h1 style="color:#FFF;"><img src="img/xh-logo.png" style="height:19.5%;width:63.5%"/></h1>

        <form name="regForm" id="regForm" novalidate>
            <div class="row regRow input_size">
                <div class="col-xs-2 input_size" style="padding:5px 7px 5px 5px;">
                    <img src="img/xxh-phone.png" style="width:25px;height:25px;"/>
                </div>
                <div class="col-xs-10 input_size" style="padding-left:0px; padding-right:0px">
                    <input onselectstart="return false" onpaste="return false;" type="tel"
                           class="regInput form-control input_size"
                           ng-model="user.phoneNumber" id="phoneNum" placeholder="请输入手机号码" name="phoneNum"
                           style="padding:0px"
                           required ng-length="11" focus-me ng-pattern="/^((\(\d{3}\))|(\d{3}\-))?1[3|4|5|7|8]\d{9}$/"/>
						<span class="glyphicon glyphicon-ok form-control-feedback"
                              ng-show="regForm.phoneNum.$dirty && regForm.phoneNum.$valid"></span>
						<span class="glyphicon glyphicon-remove form-control-feedback"
                              ng-show="regForm.phoneNum.$dirty && regForm.phoneNum.$invalid"></span>
                </div>
            </div>

            <div class="row regRow input_size">
                <div class="col-xs-2 input_size" style="padding:5px 7px 5px 5px;">
                    <img src="img/xxh-pass.png" style="width:25px;height:25px;"/>
                </div>
                <div class="col-xs-10 input_size" style="padding-left:0px; padding-right:0px">
                    <input onselectstart="return false" onpaste="return false;" type="password"
                           class="regInput form-control input_size" style="padding:0px"
                           placeholder="6-18个数字或字母组合" ng-model="user.password" id="password" name="password"
                           ng-minlength="6" ng-maxlength="18" required/>
                    <span class="glyphicon glyphicon-ok form-control-feedback"
                          ng-show="regForm.password.$dirty && regForm.password.$valid"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback"
                          ng-show="regForm.password.$dirty && regForm.password.$invalid"></span>
                </div>
            </div>

            <div class="row regRow input_size">
                <div class="col-xs-2 input_size" style="padding:5px 7px 5px 5px;">
                    <img src="img/xh-code.png" style="width:25px;height:25px;"/>
                </div>
                <div class="input-group col-xs-10 input_size">
                    <input type="tel" class="regInput form-control input_size" id="extraNumber" name="extraNum"
                           style="padding:0px;display:table-header-row" placeholder="请输入验证码" ng-model="user.captcha"
                           required ng-minlength="6">
                            <span class="input-group-btn regCaptach">
                                <button class="btn btn-default regInput" ng-click="getCaptcha()" ng-disabled="times">
                                    {{times?'('+times+'秒)后重新发送':'获取验证码'}}
                                </button> </span>
                </div>
            </div>
            <div class="row regRow input_size">
                <div class="col-xs-2 input_size" style="padding:5px 7px 5px 5px;">
                    <img src="img/xh-Incode.png" style="width:25px;height:25px;"/>
                </div>
                <div class="col-xs-10 input_size" style="padding-left:0px; padding-right:0px">
                    <input onselectstart="return false" onpaste="return false;" type="password"
                           class="regInput form-control input_size" style="padding:0px"
                           placeholder="输入邀请码(没有可不填)" ng-model="user.inviteNumber" id="number" name="number"/>
                </div>
            </div>

            <div class="form-group" style="margin-bottom:0px; padding:0% 5%" align="center">
                <input type="submit" value="立即注册" ng-click="register()" ng-disabled="regForm.$invalid"
                       class="btn btn-lg form-control regBtn" style="height:44px;margin-top:10px;"/>
            </div>
            <div class="checkbox">
                <input type="checkbox" size="10" name="userAgreeMent" ng-init="agreeMent=true" ng-model="agreeMent"
                       required>
                <font color="#FFF">同意辅导帮使用协议和隐私条款</font>
            </div>
        </form>
    </div>
</div>
