<div  b-window-header="选择学校" class="b-header"></div>

<div  style="height:100%; background-color:#CCC" class="pad40">
        <a href="#/school" id="school" style="display: none"></a>
    	<ul class="list-group" >
        	<li class="list-group-item" ng-click="chooseArea('南山区')" >南山区<span style="float:right">已选地区</span></li>
        </ul>
      
        <ul class="list-group">
        	<li ng-click="chooseArea('宝安区')" class="list-group-item">宝安区</li>
            <li ng-click="chooseArea('罗湖区')" class="list-group-item">罗湖区</li>
            <li ng-click="chooseArea('福田区')" class="list-group-item">福田区</li>
            <li ng-click="chooseArea('龙岗区')" class="list-group-item">龙岗区</li>
            <li ng-click="chooseArea('大鹏新区')" class="list-group-item">大鹏新区</li>
            <li ng-click="chooseArea('光明新区')" class="list-group-item">光明新区</li>
        </ul>
    </div>

