<div  b-window-header="选择学校" class="b-header"></div>
<div style="height:100%; background-color:#CCC" class="pad40">
        <ul class="list-group">
        	<li class="list-group-item"  ng-click="chooseCity('深圳')">深圳<span style="float:right">已选地区</span></li>
        </ul>
      
        <ul class="list-group">
        	<li ng-click="chooseCity('潮州')" class="list-group-item">潮州</li>
            <li ng-click="chooseCity('东莞')" class="list-group-item">东莞</li>
            <li ng-click="chooseCity('佛山')" class="list-group-item">佛山</li>
            <li ng-click="chooseCity('广州')" class="list-group-item">广州</li>
            <li ng-click="chooseCity('河源')" class="list-group-item">河源</li>
            <li ng-click="chooseCity('惠州')" class="list-group-item">惠州</li>
            <li ng-click="chooseCity('江门')" class="list-group-item">江门</li>
            <li ng-click="chooseCity('揭阳')" class="list-group-item">揭阳</li>
            <li ng-click="chooseCity('茂名')" class="list-group-item">茂名</li>
            <li ng-click="chooseCity('梅州')" class="list-group-item">梅州</li>
            <li ng-click="chooseCity('清远')" class="list-group-item">清远</li>
            <li ng-click="chooseCity('韶关')" class="list-group-item">韶关</li>
            <li ng-click="chooseCity('汕头')" class="list-group-item">汕头</li>
            <li ng-click="chooseCity('汕尾')" class="list-group-item">汕尾</li>
            <li ng-click="chooseCity('云浮')" class="list-group-item">云浮</li>
        </ul>
    </div>
