<div  b-window-header="选择学校" class="b-header"></div>
<div style="background-color:#CCC" class="pad40">
    <div style="padding-left:10px">当前位置</div>
        <ul class="list-group" style="margin-bottom:0px">
            <li class="list-group-item" ng-click="myChoose('广东','深圳')">
                <img src="img/location.jpg" style="width:20px; height:20px;">中国 广东 深圳
            </li>
        </ul>
        <ul class="list-group"  style="margin:15px auto" >
            <li class="list-group-item" ng-click="chooseProvince('广东')" >广东<span style="float:right">已选地区</span></li>
        </ul>

        <ul class="list-group">
            <li ng-click="chooseProvince('安徽')" class="list-group-item">安徽</li>
            <li ng-click="chooseProvince('澳门')" class="list-group-item">澳门</li>
            <li ng-click="chooseProvince('北京')" class="list-group-item">北京</li>
            <li ng-click="chooseProvince('重庆')" class="list-group-item">重庆</li>
            <li ng-click="chooseProvince('福建')" class="list-group-item">福建</li>
            <li ng-click="chooseProvince('甘肃')" class="list-group-item">甘肃</li>
            <li ng-click="chooseProvince('广西')" class="list-group-item">广西</li>
            <li ng-click="chooseProvince('贵州')" class="list-group-item">贵州</li>
            <li ng-click="chooseProvince('湖北')" class="list-group-item">湖北</li>
            <li ng-click="chooseProvince('黑龙江')" class="list-group-item">黑龙江</li>
            <li ng-click="chooseProvince('湖南')" class="list-group-item">湖南</li>
            <li ng-click="chooseProvince('河南')" class="list-group-item">河南</li>
            <li ng-click="chooseProvince('海南')" class="list-group-item">海南</li>
            <li ng-click="chooseProvince('吉林')" class="list-group-item">吉林</li>
        </ul>
</div>

