<div  b-window-header="选择学校" class="b-header"></div>
<div style="height:100%; background-color:#CCC" class="pad40">
    	<ul class="list-group" >
        	<li ng-click="chooseSchool('南山中学')" class="list-group-item">南山中学<span style="float:right">已选学校</span></li>
        </ul>
      
        <ul class="list-group">
        	<li ng-click="chooseSchool('松坪山学校')" class="list-group-item">松坪山学校</li>
            <li ng-click="chooseSchool('桃源村学校')" class="list-group-item">桃源村学校</li>
            <li ng-click="chooseSchool('西丽学校')" class="list-group-item">西丽学校</li>
            <li ng-click="chooseSchool('南山第二中学')" class="list-group-item">南山第二中学</li>
            <li ng-click="chooseSchool('深圳大学')" class="list-group-item">深圳大学</li>
            <li ng-click="chooseSchool('高新园学校')" class="list-group-item">高新园学校</li>
        </ul>
    </div>
